doctype html
html
  head
    title= 'My page'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

ul
li(class= 'navi')
    a(href='/') Home
li(class= 'navi')
    a(href='/first') Nature trails in Helsinki
li(class= 'navi')
    a(href='/second') Amount of species in Helsinki


    block content
